html, body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(250deg, #2c2c2c, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #111111;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}


 .icon {
    font-size: 50px;
    margin-right: 10px;
    color: #1f1d1d; /* Icon colour */
  }
 