body {
  background: #FFB6C1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #121010;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}


 .icon {
    font-size: 30px;
    margin-right: 10px;
    color: #333; /* Icon colour */
  }
 